<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <script>
        var urlParameterExtraction = new (function () {
            function splitQueryString(queryStringFormattedString) {
                var split = queryStringFormattedString.split('&');

                // If there are no parameters in URL, do nothing.
                if (split == "") {
                    return {};
                }

                var results = {};

                // If there are parameters in URL, extract key/value pairs. 
                for (var i = 0; i < split.length; ++i) {
                    var p = split[i].split('=', 2);
                    if (p.length == 1)
                        results[p[0]] = "";
                    else
                        results[p[0]] = decodeURIComponent(p[1].replace(/\+/g, " "));
                }
                return results;
            }

            // Split the query string (after removing preceding '#'). 
            this.queryStringParameters = splitQueryString(window.location.hash.substr(1));
        })();

        // Extract token from urlParameterExtraction object.
        var token = urlParameterExtraction.queryStringParameters['access_token'];
        window.location = localStorage.getItem('lesson_plan_page') + '?#access_token=' + token;
    </script>
</head>
<body>
    <div>
        Returning to lesson plan page.
    </div>
</body>
</html>