
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
    <title>Americana Coasters</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <base href="/">
    <script src="/scripts/angular.js"></script>
    <script src="/scripts/angular-route.js"></script>
    <script src="/scripts/loading-bar.js"></script>
    <link rel="stylesheet" href="/scripts/loading-bar.css">

    <!-- App code. -->
    <script src="/scripts/config.js"></script>
    <script src="/scripts/app.js"></script>
    <script src="/controllers/mainController.js"></script>

    <!-- ADAL JS files. -->
    <script src="/scripts/adal.js"></script>
    <script src="/scripts/adal-angular.min.js"></script>

</head>
<body data-absolute-enabled="true" style="font-family:Helvetica, Arial, sans-serif;font-size:16px">
    <div ng-app="app">
        <div ng-view></div>
    </div>

    <table style="border:0;">
        <tr>
            <td style="width:66.66667%;">
                <h1 style="color:#198ac9; font-size:35px;">Americana Coasters</h1>
                <p style="margin-bottom:34px; font-size:16px">This is a fun, easy, and meaningful way to display your patriotism all year ‘round. Create eye-catching patriotic coasters with Color Switchers Markers</p>
                <div style="border:1px solid #eee; margin-bottom:30px;">
                    <img src="1299.jpg" />
                    <table style="border:0">
                        <tr>
                            <td>
                                Grade 3<br />
                                Grade 4<br />
                                Grade 5<br />
                                Grade 6<br />
                                Grades 7 and 8
                            </td>
                            <td>
                                60 to 90 Minutes
                            </td>
                        </tr>
                    </table>
                </div>
                <ul>
                    <li style="list-style:none;">
                        <h2 style="color:#198ac9; font-size:30px;">Directions</h2>
                        <ol>
                            <li> Students use a recycled CD as a template to draw circles on white construction paper, cork, and clear plastic adhesive. Cut out the circles with Crayola Scissors.</li>
                            <li>Using Crayola Washable Markers, create patriotic sayings on each circle of construction paper.</li>
                            <li>Use a Crayola Glue Stick to adhere the patriotic design to a recycled CD. Then glue the recycled CD to a cork circle.</li>
                            <li> Peel away the paper backing on the clear plastic adhesive circle. Apply the clear plastic adhesive circle on top of the patriotic design.</li>
                        </ol>
                    </li>
                    <li style="list-style:none;">
                        <h2 style="color:#198ac9; font-size:30px;">Standards</h2>
                        <p>LA: Read and comprehend complex literary and informational texts independently and proficiently.</p>
                        <p>LA: Gather relevant information from multiple print and digital sources, assess the credibility and accuracy of each source, and integrate the information while avoiding plagiarism.</p>

                        <p>
                            LA: Draw evidence from literary or informational texts to support analysis, reflection, and research.
                        </p>

                        <p>
                            LA: Prepare for and participate effectively in a range of conversations and collaborations with diverse partners, building on others' ideas and expressing their own clearly and persuasively.
                        </p>

                        <p>
                            LA: Write informative/explanatory texts to examine a topic and convey ideas and information clearly.
                        </p>

                        <p>
                            LA: Make strategic use of digital media and visual displays of data to express information and enhance understanding of presentations.
                        </p>

                        <p>
                            MATH: Recognize and draw shapes having specified attributes, such as a given number of angles or a given number of equal faces.
                        </p>

                        <p>
                            SS: Identify and use various sources for reconstructing the past, such as documents, letters, diaries, maps, textbooks, photos, and others.
                        </p>

                        <p>
                            SS: Demonstrate an understanding that people in different times and places view the world differently.
                        </p>
                        <p>
                            VA: Know that the visual arts have both a history and specific relationships to various cultures.
                        </p>

                        <p>
                            VA: Understand there are various purposes for creating works of visual art.
                        </p>

                        <p>
                            VA: Identify connections between the visual arts and other disciplines in the curriculum.
                        </p>
                    </li>
                    <li style="list-style:none;">
                        <h2 style="color:#198ac9; font-size:30px;">Adaptations</h2>
                        <p>In lieu of using recycled CDs for a circular figure, challenge upper elementary students (grades 5+) to create a circular template with an assigned radius.</p>

                        <p>Students research past political campaigns, candidates, issues of the time period, and slogans that were used during the campaigns. Students analyze and discuss how the slogans represented the issues facing the candidates. Students then generate a list of issues facing their community, state, and/or country. Challenge students to write a creative political slogan that could be used to address an issue of the period. Students write a descriptive paragraph, illustrating how their slogan represents the issue. Students take digital photographs of their (CD) slogans and upload them to a classroom computer for viewing. and further discussion.</p>

                        <p>In small groups, students research patriotism and political issues in other countries. Are there political slogans used in the researched country? If so, how do they compare to slogans from their home country? Student groups compare and contrast researched information. A visual display can also be made for enhanced effect.</p>

                        <p>The CD slogan activity can also be used for student elections. Student-made slogan CDs can be displayed in a public area of their schools or in an assembly in preparation for candidate speeches.</p>
                    </li>
                </ul>
            </td>
            <td style="width:33.3333%;">
                <table style="border:0; background-color:#cee6f4;">
                    <tr>
                        <td style="width:10px"></td>
                        <td>
                            <h3 style="color:#198ac9; font-size:18px;">Supplies Needed</h3>
                        </td>
                        <td style="width:10px"></td>
                    </tr>
                    <tr>
                        <td style="width:10px;"></td>
                        <td style="background-color:#fff;">
                            <ul>
                                <li style="font-size:18px;">Clear Plastic Adhesive</li>
                                <li style="font-size:18px;">Construction Paper</li>
                                <li style="font-size:18px;">Cork</li>
                                <li style="font-size:18px;">Pointed Tip Scissors</li>
                                <li style="font-size:18px;">Recycled CD</li>
                                <li style="font-size:18px;">Washable Markers</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:10px"></td>
                        <td></td>
                        <td style="width:10px"></td>
                    </tr>
                </table>
                <table style="border:0; background-color:#e9e6e3; color: #8c847c; font-size:14px;">
                    <tr>
                        <td style="width:10px"></td>
                        <td><h3>TAGS</h3></td>
                        <td style="width:10px"></td>
                    </tr>
                    <tr>
                        <td style="width:10px"></td>
                        <td>
                            <h4>Categories</h4>
                            <ul>
                                <li style="list-style:none;">Language Arts</li>
                                <li style="list-style:none;">Mathematics</li>
                                <li style="list-style:none;">Social Studies</li>
                                <li style="list-style:none;">Visual Arts</li>
                            </ul>
                            <h4>Subcategories</h4>
                            <ul>
                                <li style="list-style:none;">Citizenship and Civics</li>
                                <li style="list-style:none;">Colors, Lines, Shapes, Forms and Textures</li>
                                <li style="list-style:none;">Interpreting, Expressing and Conveying Ideas</li>
                                <li style="list-style:none;">Power, Authority and Governance</li>
                                <li style="list-style:none;">Reading and Informational Text</li>
                                <li style="list-style:none;">Shapes and Geometry</li>
                                <li style="list-style:none;">Speaking and Listening</li>
                                <li style="list-style:none;">Time, Continuity and Change</li>
                                <li style="list-style:none;">Word Recognition</li>
                                <li style="list-style:none;">Writing</li>
                            </ul>
                        </td>
                        <td style="width:10px"></td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</body>
</html>
