 <h1>
                Web</h1>
                <p>Content content content content</p>
                <!--<div class="item left hide">List item 1 </div>
                <div class="item left">List item 2 </div>
                <div class="item left hide">List item 3 </div>
                <div class="item left hide">List item 4 </div>
                <div class="item left">List item 5 </div>
                <div class="item left hide">List item 6 </div>
                <div class="item left hide">List item 7 </div>
                <div class="item left hide">List item 8 </div>
                <div class="item left hide">List item 9 </div>
                <div class="item left">List item 10 </div>-->